# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/.name
.idea/compiler.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
qcadmin_auth/qcadmin_auth.iml
qcadmin_common/qcadmin_common.iml
qcadmin_manager/qcadmin_manager.iml
qcadmin_server.iml
qcadmin_common/src/main/resources/
qcadmin_common/src/test/
qcadmin_common/target/classes/qcadmin/common/entity/
qcadmin_common/target/classes/qcadmin/common/utils/PageUtils.class
qcadmin_common/target/generated-sources/
qcadmin_manager/src/main/java/VO/
qcadmin_manager/src/main/java/qcadmin/manager/api/
qcadmin_manager/src/main/java/qcadmin/manager/repository/
qcadmin_manager/src/main/java/qcadmin/manager/service/
qcadmin_manager/src/test/
qcadmin_manager/target/classes/VO/
qcadmin_manager/target/classes/qcadmin/manager/api/
qcadmin_manager/target/classes/qcadmin/manager/entity/
qcadmin_manager/target/classes/qcadmin/manager/repository/

